.button {
  cursor: pointer;
  background-color: #EC5863;
  color: #FCFDFE;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  width: max-content;
}