.banner_container {
  display: flex;
  background-color: #FAFBFD;
  height: 700px;
  padding-bottom: 48px;
  position: relative;

  .banner_image_container {
    display: flex;
    align-items: center;
    width: 50%;
    z-index: 2;
  }

  .video_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
    z-index: 2;

    .banner_title_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .colored_container{
    position: absolute;
    background-color: #EC5863;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    border-radius: 30px 0 0 30px;
    z-index: 1;
  }

  .icon{

    z-index: 2;
  }
}
